extends layout

block content
  .container-lecture
    section.header
      h3.headline 시간표 만들기
    section.section-nav
      form#search-form.form-search(action='/courses/search/', Method='GET')
        input.form-control(type='text', placeholder='강의 검색')
        span
          i.material-icons.ic-search search
      ul.list-lecture
        -for(let post of courses)
          li.card-lecture(data-code= post.code)
            a.lecture-title(href='#')=post.lecture 
            h6.lecture-time
              i.material-icons.ic-lecture-info access_time
              span=post.start_time+' - '+post.end_time+ ' | '+ post.dayofweek
            ul.list-lecture-info
              li= '교과목 코드 : '+post.code
              li= '담당 교수 : '+post.professor
              li= '강의실 : '+post.location
    section.section-list
      .container-xl
        .table-schedule
          .timeline
            ul
              li
                span 09:00
              li
                span 09:30
              li
                span 10:00
              li
                span 10:30
              li
                span 11:00
              li
                span 11:30
              li
                span 12:00
              li
                span 12:30
              li
                span 13:00
              li
                span 13:30
              li
                span 14:00
              li
                span 14:30
              li
                span 15:00
              li
                span 15:30
              li
                span 16:00
              li
                span 16:30
              li
                span 17:00
              li
                span 17:30
              li
                span 18:00
          .table-schedule-subject
            ul.list-lecture-item
              li.timeline-vertical
                .top-info.today
                  h4.day Mon
                ul.MON

              li#TUE.timeline-vertical
                .top-info
                  h4.day Tue
                ul.TUE

              li#WED.timeline-vertical
                .top-info
                  h4.day Wed
                ul.WED

              li#THU.timeline-vertical
                .top-info
                  h4.day Thu
                ul.THU
              li#FRI.timeline-vertical
                .top-info
                  h4.day Fri
                ul.FRI
  #modal-lecture-info.modal.fade(role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          h3.lecture-title
          ul.lecture-info
            li.lecture-time
              i.material-icons.ic-lecture-info access_alarm
              span#time
            li.lecture-code
              i.material-icons.ic-lecture-info code
              span#code
            li.lecture-code
              i.material-icons.ic-lecture-info school
              span#professor
            li.lecture-code
              i.material-icons.ic-lecture-info business
              span#location
          .lecture-description
            p.txt-description
              | 본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
              | 실무 능력을 갖출 수 있도록 합니다.
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') 취소
          button.btn.btn-primary.submit(type='button') 과목 등록하기
  #modal-lecture-task.modal.fade(role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          h3.lecture-title 웹 프로그래밍
          ul.lecture-info
            li.lecture-time
              i.material-icons.ic-lecture-info access_alarm
              span#time
            li.lecture-code
              i.material-icons.ic-lecture-info code
              span#code
            li.lecture-code
              i.material-icons.ic-lecture-info school
              span#professor
            li.lecture-code
              i.material-icons.ic-lecture-info business
              span#location
          .lecture-description
            p.txt-description
              | 본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
              | 실무 능력을 갖출 수 있도록 합니다.
          .lecture-memo
            h5.memo-header 메모
            ul
              li.memo-list
                .memo-content(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                  i.material-icons.ic-lecture-noti assignment
                  span.lecture-noti-title 과제 제목 텍스트
                .memo-btn
                  a(href='')
                    i.material-icons.ic-lecture-noti delete
        .modal-footer
          .left
            button.btn.btn-light-primary(type='button', data-toggle='popover', data-trigger='click', data-placement='right', data-html='true')
              | 메모 등록
          .right
            button.btn.btn-light(type='button', data-dismiss='modal') 확인
            button.btn.btn-danger(type='button') 과목 삭제하기
  #PopoverContent(style='display: none;')
    h5.schedule-title 메모 등록하기
    .form-group
      label.col-form-label
        | 제목
        input#recipient-name.form-control(type='text', placeholder='제목 추가')
    .form-group
      label.col-form-label(for='message-text') 설명
      textarea#message-text.form-control(placeholder='설명 추가')
    button.btn.btn-primary.btn-save(type='button') 등록

